{% extends 'base.html.twig' %} {% block title %}Mon Panier - Mighty Mama Créa'{%
endblock %} {% block content %}
<h1>Mon Panier</h1>

<p>Retrouvez l'ensemble des produits que vous avez ajouté à votre panier.</p>

{% if cart | length > 0 %}

<table class="table mt-3">
  <thead>
    <tr>
      <th scope="col">Produit</th>
      <th scope="col"></th>
      <th scope="col">Quantité</th>
      <th scope="col">Prix Unitaire</th>
      <th scope="col">Total</th>
    </tr>
  </thead>
  <tbody>
    {% set total = null %} {% for product in cart %}
    <tr>
      <th>
        <img
          src="/uploads/{{ product.product.illustration }}"
          height="75px"
          alt="{{ product.product.name }}"
        />
      </th>
      <td>{{ product.product.name }}</td>
     
      <td> <a href="{{ path('decrease_to_cart', { id: product.product.id })}}"> <img
            src="{{ asset('assets/img/minus.png') }}"
            height="11px"
            alt="substracting"
        /></a> x {{ product.quantity }} <a href="{{ path('add_to_cart', { id: product.product.id })}}"><img
            src="{{ asset('assets/img/add.png') }}"
            height="11px"
            alt="adding"
        /></a></td>
      
      <td>{{(product.product.price/100)|number_format(2, '.', ',')}} €</td>
      <td>
        {{((product.product.price) * product.quantity /100)|number_format(2, '.', ',')}}
        €
      </td>
      <td>
        <a href="{{ path('delete_to_cart', { id: product.product.id }) }}">
          <img
            src="{{ asset('assets/img/delete.png') }}"
            height="19px"
            alt="delete button"
        /></a>
      </td>
    </tr>
    {% set total = total +(product.product.price * product.quantity) %} {%
    endfor %}
  </tbody>
</table>
<div class="text-right mb-5">
  <b>Nombre de Produits : {{ cart | length }} </b> <br />
  <b> Total de mon panier: {{(total /100)|number_format(2, '.', ',')}} €</b>
  <a href="{{ path('order')}}" class="btn btn-gold btn-block mt-3">Valider mon panier</a>
</div>
{% else %} 
<hr>
<p class="text-center mb-5"><b>Votre panier est vide</b></p>
{% endif %} 
{% endblock %}
