{% extends 'base.html.twig' %} {% block title %}Nos Evenements - Mighty Mama
Créa' {% endblock %} {% block content %}
<h1 class="mb-4">{{ saling.name }}</h1>
<br />

<div class="row">
  <div class="col">
    <img
      src="/uploads/{{ saling.illustration }}"
      alt="{{ saling.name }}"
      class="w-100"
    />
  </div>
  <div class="col">
    <img
      src="/uploads/{{ saling.secondIllustration }}"
      alt="{{ saling.name }}"
      class="w-100"
    />
  </div>
  <div class="col">
    <img
      src="/uploads/{{ saling.thirdIllustration }}"
      alt="{{ saling.name }}"
      class="w-100"
    />
  </div>
</div>

<div class="row mt-5">
    <div class="col text-center">
        <h5>{{ saling.address}}</h5> 
        <p>{{ saling.longDescription}}</p>
    </div>
</div>

{% endblock %}
