{% extends 'base.html.twig' %} {% block title %}Nos Evenements - Mighty Mama
Créa' {% endblock %} {% block content %}
<h1 class="mb-4">Nos Evenements</h1>
<br />

{% for event in events %}

<div class="row my-5">
    <div class="col-3 d-none d-lg-block">
        <div class="row">
            <div class="col">
                <img src="/uploads/{{ event.illustration }}" alt="{{ event.name }}" class="w-75" />
            </div>
        </div>
    </div>
    <div class="col-3">
        <h5>{{ event.name }}</h5>
        
    </div>
    <div class="col-3">
        <h5>{{ event.address}}</h5>      
    </div>
    <div class="col-3">
        <a class="btn btn-gold "href="{{path('event',{'id':event.id})}}">En voir plus</a>
     
    </div>
    
</div>

{% endfor %} {% endblock %}